In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [18]:
df=pd.read_csv("E://PDF DATA SCIENCE/5-multiple-linear-reg/5-multiple-linear-reg/homeprices.csv")

In [19]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [20]:
df.describe()

              area  bedrooms       age          price
count     5.000000  4.000000   5.00000       5.000000
mean   3280.000000  3.750000  18.20000  616000.000000
std     540.370243  0.957427   8.01249   83919.604384
min    2600.000000  3.000000   8.00000  550000.000000
25%    3000.000000  3.000000  15.00000  565000.000000
50%    3200.000000  3.500000  18.00000  595000.000000
75%    3600.000000  4.250000  20.00000  610000.000000
max    4000.000000  5.000000  30.00000  760000.000000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
area        5 non-null int64
bedrooms    4 non-null float64
age         5 non-null int64
price       5 non-null int64
dtypes: float64(1), int64(3)
memory usage: 288.0 bytes

In [28]:
import math
mbedrooms=math.ceil(df.bedrooms.median())

In [29]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [30]:
df.bedrooms=df.bedrooms.fillna(mbedrooms)

In [25]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [34]:
x=df.drop("price",axis=1)

In [38]:
y=df.price

In [43]:
ml=LinearRegression()

In [46]:
ml.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [47]:
ml.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [48]:
ml.intercept_

383724.9999999998

In [50]:
ml.predict([[3000,6,20]])

array([502825.])